.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .dropdown .dropbtn {
    background-color: #4F0077;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.header .dropdown .dropbtn:hover,
.header .dropdown .dropbtn:focus {
    background-color: #3e005b;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.header .dropdown-content a,
.header .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.header .dropdown-content a:hover,
.header .dropdown-content button:hover {
    background-color: #ddd;
}

.header .dropdown:hover .dropdown-content {
    display: block;
}

.header_user-menu {
    position: relative;
    display: inline-block;
}

.header_user-name {
    cursor: pointer;
    color: #4F0077;
    padding: 10px;
    font-size: 16px;
}

.header_user-dropdown {
    display: none; /* Varsayılan olarak gizle */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px; /* Maksimum yüksekliği ayarla */
    overflow-y: auto; /* Dikey scroll etkinleştir */
}

.header_user-menu:hover .header_user-dropdown {
    display: block; /* Üzerine gelindiğinde göster */
}

.header_user-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.header_user-dropdown-item:hover {
    background-color: #ddd;
}

.header_user-dropdown a,
.header_user-dropdown div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.header_user-dropdown a:hover,
.header_user-dropdown div:hover {
    background-color: #ddd;
}

/* Scroll edilebilir dropdown menüsü */
.header_user-dropdown {
    max-height: 200px;
    overflow-y: auto;
}
